:root {
    --neon-green: #00ff88;
    --neon-green-soft: #00ff8880;
    --neon-green-dark: #00a3574f;

    --cyan: #00ffff;
    --cyan-soft: #00ffff50;

    --dark-bg: #0a0a0a;
    --black: #000000;

    --card-bg: #111111;
    --glass-bg: #0000003f;
    --glass-border: #47474744;

    --border-color: #1f1f1f;

    --text-primary: #ffffff;
    --text-secondary: #dfe2e9;
    --text-gray: #99a1af;

    --status-green: #00d370;
}
