:root {
    --neon-green: #00ff88;
    --neon-green-soft: #00ff8880;
    --neon-green-dark: #00a3574f;

    --cyan: #00ffff;
    --cyan-soft: #00ffff50;

    --dark-bg: #0a0a0a;
    --black: #000000;

    --card-bg: #111111;
    --glass-bg: #0000003f;
    --glass-border: #47474744;

    --border-color: #1f1f1f;

    --text-primary: #ffffff;
    --text-secondary: #dfe2e9;
    --text-gray: #99a1af;

    --status-green: #00d370;
}

/* COLORS */
.email {
    --platform-color: var(--cyan);
    --platform-glow: rgba(0, 255, 255, 0.25);
}

.whatsapp {
    --platform-color: #25D366;
    --platform-glow: rgba(37, 211, 102, 0.25);
}

.telegram {
    --platform-color: #0088cc;
    --platform-glow: rgba(0, 136, 204, 0.25);
}

.github {
    --platform-color: #ffffff;
    --platform-glow: rgba(255, 255, 255, 0.15);
}

.linkedin {
    --platform-color: #0A66C2;
    --platform-glow: rgba(10, 102, 194, 0.25);
}

.instagram {
    --platform-color: #E1306C;
    --platform-glow: rgba(225, 48, 108, 0.25);
}

.twitter {
    --platform-color: #1DA1F2;
    --platform-glow: rgba(29, 161, 242, 0.25);
}

.facebook {
    --platform-color: #1877F2;
    --platform-glow: rgba(24, 119, 242, 0.25);
}